* {
    margin: 0;
}
  
body {
    margin: 0;
}

nav > a {
    color: white;
}

.container {
    margin: 0;
    padding: 0;
    border: 0;
}   

#panel {
    min-width: 100%;
}
  
#admin_panel {
    min-height: 100%vh;
    background-color: rgb(192, 243, 227);
    flex-basis: 33%;
}

#planner_panel {
    min-height: 100vh;
    text-align: center;
}

h2 > a > span {
    color: rgb(30, 59, 49);
}

.card {
    margin: 15px 10px 15px 10px;
}

footer {
    padding: 15px;
    text-align: center;
    background-color: rgb(230, 233, 238);
}