* {
  margin: 0;
}

body {
  margin: 0;
}

nav > a {
  color: white;
}

.container {
  margin: 0;
  padding: 0;
  border: 0;
}

#panel {
  min-width: 100%;
}

#admin_panel {
  min-height: 100%vh;
  background-color: rgb(192, 243, 227);
  flex-basis: 25%;
}

#planner_panel {
  min-height: 100vh;
  text-align: center;
}

h2 > a > span {
  color: rgb(30, 59, 49);
}

#admin_card {
  margin: 15px 10px 15px 10px;
}

.card-header {
  font-style: bold;
}

.card_layout {
  width: 18rem;
  margin: 30px;
  padding: 0px;
}

/* If we fix the height of the card title/description, suggest we have a max character limit on these items in the new task form (to avoid text overflowing in browser) */
.card_title {
  height: 6rem;
}

.card_description {
  font-style: italic;
  height: 7rem;
}

.list-group-flush {
  text-align: left;
}

footer {
  padding: 15px;
  text-align: center;
  background-color: rgb(230, 233, 238);
}

/* Add Task Modal */

.form {
  text-align: left;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
